.slideshow {
    width: 100%;
    max-width: 900px;
    margin: 50px auto; /* center horizontally and add space from Banner */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 70vh; if you want vertical spacing too */
    
    
  }
  
  .slideShowSlide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch; /* make image/text stretch equally */
    justify-content: space-between; /* spread edge to edge */
    gap: 0; /* remove gap if you want them flush together */
    height: 100%; /* ensure full height matching content */
    position: relative;
    
  }
  
  .ImageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* optional for visibility */
    padding: 20px;
  }
  
  .ImageSection img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
  }
  
  .TextSection {
    /* flex: 1; */
    background-color: #ffffff;
    padding: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(180, 52, 52); */
  }
  
  .TextSection h3 {
    font-weight: bold;
    font-size: 50px;
}
.slick-prev:before,
.slick-next:before {
  color: #6A39FE;
  font-size: 25px;
}
/* Default slashes */
.slick-dots li {
    color: rgb(193, 120, 228);
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Active selected slash */
  .slick-dots li.slick-active {
    color: #6A39FE; /* your purple or highlight color */
  }
  