body {
  overflow: hidden; /* Hide scrollbars */
}
.slideshow {
    width: 100%;
    max-width: 60vw;


    margin: 1vh auto; /* center horizontally and add space from Banner */


    display: flex;
    justify-content: center;
    align-items: center;
    
    /* min-height: 70vh; if you want vertical spacing too */
    
    
  }
  
  .slideShowSlide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch; /* make image/text stretch equally */
    justify-content: space-between; /* spread edge to edge */
    gap: 0; /* remove gap if you want them flush together */
    height: 100%; /* ensure full height matching content */
    position: relative;
    margin-top: -1vh;
    
  }
  
  .ImageSection {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 46%;
}
  
  .ImageSection img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .TextSection {
    /* flex: 1; */
    width: 41%;
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(180, 52, 52); */
}
  
  .TextSection h3 {
    font-weight: bold;
    font-size: 5vh;
}
.slick-prev:before,
.slick-next:before {
  color: #6A39FE;
  font-size: 0;
}
.TextSection h1 {
  font-weight: bold;
  font-size: 3vh;
}
.TextSection p {
  font-weight: lighter;
  font-size: 2vh;
}
/* Default slashes */
.slick-dots li {
    color: rgb(193, 120, 228);
    font-size: 1vh;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Active selected slash */
  .slick-dots li.slick-active {
    color: #6A39FE; /* your purple or highlight color */
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .leaderboard-container{
    background-color: red;
    
  }