.school-dropdown {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  z-index: 20;
  position: absolute;
  width: 90%;
}

.school-dropdown-item {
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.school-dropdown-item:hover {
  background-color: #f7f7f7;
}
